<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Material Prediction</title>
  </head>
  <body>
    <div style="background-image: url('homepage.jpg');">
    <h1><marquee>🥃 Glass Classification 🥃</marquee></h1>
    <form action="{% url 'result'%}" class="form-group">
     
     {% csrf_token %}

    <h3>RI :</h3> <input type="text" required name="RI" class="form-control"><br><br>
    <h3>Na :</h3> <input type="text" required name="Na" class="form-control"><br><br>
    <h3>Mg :</h3> <input type="text" required name="Mg" class="form-control"><br><br>
    <h3>Al :</h3> <input type="text" required name="Al" class="form-control"><br><br>
    <h3>Si :</h3> <input type="text" required name="Si" class="form-control"><br><br>
    <h3>K :</h3> <input type="text" required name="K" class="form-control"><br><br>
    <h3>Ca :</h3> <input type="text" required name="Ca" class="form-control"><br><br>
    <h3>Ba :</h3> <input type="text" required name="Ba" class="form-control"><br><br>
    <h3>Fe :</h3> <input type="text" required name="Fe" class="form-control"><br><br>

    <h2><input type="submit" name="" value="Submit" class="btn btn-primary"></h2>
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>